html {
  width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
  color: $textColor;
  font-size: $fontSize;
  font-family: $fontFamily;
  background-color: yellow;

  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
a {
  text-decoration: none;

  &,
  &:focus,
  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
    color: inherit;
  }
}
.testing {
  color: red;
}
