// Utilities
// ---------
// Background effects
.bg-white {
  background-color: $white;
}
.overlay {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    @include opacity(0.6);
    @include transition(opacity linear .5s);
  }
}

.full-cover {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
