header
  .container
    .row
      .col-xs-12
        h3 HTML Scaffolding
        p Starter kits:
        ul
          li Gulp wow it changes
          li Bower
          li Pug (Jade)
          li ECMAScript 6
          li Babel
          li SASS
          li Bootstrap 3
          li jQuery
          li Jasmine
          li(testing) hello

      .col-xs-12
        h3 Text styles
        .row
          .col-xs-12.col-sm-6
            hr
            p.font-xs
              strong Font xs
              | &nbsp;with 2 lines
              br
              | This is second line. Line height is fine.
            hr
            p.font-sm
              strong Font sm
              | &nbsp;with 2 lines
              br
              | This is second line. Line height is fine.
            hr
            p.font-md
              strong Font md
              | &nbsp;with 2 lines
              br
              | This is second line. Line height is fine.
            hr
            p.font-lg
              strong Font lg
              | &nbsp;with 2 lines
              br
              | This is second line. Line height is fine.
            hr
            p.font-xl
              strong Font xl
              | &nbsp;with 2 lines
              br
              | This is second line. Line height is fine.
            hr
      .col-xs-12
        p.pv2x
          | By
          strong  ownego
          |  team with love. Inspired by yeoman.
